.carouselSection {
  position: relative;
  margin-bottom: 70px;
}

.carouselSection .containWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.carouselSection .containWrapper .carouselTitle {
  font-size: 24px;
  color: var(--clr--light);
  font-weight: normal;
}