.vpn-dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.vpn-dialog {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.vpn-dialog button {
  margin-top: 10px;
  padding: 10px 20px;
  background: #cc2006;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.headerCtnOverlay {
  margin-bottom: 0.5rem;
}

.bodyCtnOverlay {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  max-width: 600px;
}

.btnCtnOverlay {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}