.logo-img{
  width: 3rem;
  position: absolute;
  left: 0.5vw;
  top: 2vh;
}

.mainBackGround{
  min-height: 100vh;
  /* background: linear-gradient(to top right, red 5%, black 90%, blue 5%); */
  /* background: linear-gradient(to top right, red 5%, black 5%, black 95%, blue 95%); */
  /* background: linear-gradient(to top right, #E84A5F 5%, black 15%, black 85%, #6666ff 90%); */
}