.castSection {
    position: relative;
    margin-bottom: 50px;
  }

.castSection .containWrapper {
 display: block;
}
.castSection .sectionHeading {
  font-size: 24px;
  color: var(--clr--light);
  margin-bottom: 25px;
  }

.castSection .listItems {
        display: flex;
        gap: 20px;
        overflow-y: hidden;
        margin-right: -20px;
        margin-left: -20px;
        padding: 0 20px;
}

.castSection .listItems .profileImg {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 15px;
}


.castSection .listItems .listItem {
  text-align: center;
  color: var(--clr--light);
}

.castSection .listItems .listItem .profileImg {
    width: 125px;
    height: 125px;
    border-radius: 10%;
    overflow: hidden;
    margin-bottom: 15px;
  }

.castSection .listItems .listItem .profileImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    display: block;
  }

.castSection .listItems .listItem .name {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
  }

.castSection .listItems .listItem .character {
   font-size: 14px;
   line-height: 20px;
   opacity: 0.5;
}

.castSection .castSkeleton {
    display: flex;
    gap: 20px;
    overflow-y: hidden;
    margin-right: -20px;
    margin-left: -20px;
    padding: 0 20px;
}

.castSection .castSkeleton .skItem .circle {
   width: 125px;
   height: 125px;
   border-radius: 50%;
   margin-bottom: 15px;
}

.castSection .castSkeleton .skItem .row {
   width: 100%;
   height: 20px;
   border-radius: 10px;
   margin-bottom: 10px;
}
.castSection .castSkeleton .skItem .row2 {
   width: 75%;
   height: 20px;
   border-radius: 10px;
   margin: 0 auto;
}


.skeleton {
  position: relative;
  overflow: hidden;
  background-color: #0a2955;
}

.skeleton::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(25, 55, 99, 0) 0,
    rgba(25, 55, 99, 0.2) 20%,
    rgba(25, 55, 99, 0.5) 60%,
    rgba(25, 55, 99, 0)
  );
  animation: shimmer 2s infinite;
  content: "";
}

@media only screen and (min-width: 768px) {
  .castSection .listItems {
    margin: 0;
    padding: 0;
  }

  .castSection .listItems .profileImg {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 15px;
  }

  .castSection .listItems .listItem .profileImg {
  width: 175px;
  height: 175px;
  margin-bottom: 25px;
  }

  .castSection .listItems .listItem .name {
   font-size: 18px;
   line-height: 24px;
  }

  .castSection .listItems .listItem .character {
    font-size: 16px;
    line-height: 24px;
  }

  .castSection .castSkeleton {
   margin: 0;
   padding: 0;
  }

  .castSection .castSkeleton .skItem .circle {
   width: 175px;
   height: 175px;
   margin-bottom: 25px;
  }

}